#rootPane {
    -fx-background-radius: 30px;
}
/*tabpane*/
.tab {
    -fx-background-color: #102027;
}

.tab-header-background {
    -fx-background-color: #102027;
}

.jfx-tab-pane .tab-header-area .tab-down-button {
    -fx-background-color: #b5b5b5;
    -fx-min-width: 0.8em;
    -fx-max-width: 0.8em;
    -fx-min-height: 1.3em;
    -fx-max-height: 1.3em;
}

.jfx-tab-pane .tab-header-area .control-buttons-tab .jfx-rippler {
    -jfx-rippler-fill: #b5b5b5;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: #62727b;
}

.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: #0F9D58;
}

.jfx-tab-pane .headers-region .tab:closable {
    -fx-border-color: rgba(255,255,255, .87);
    -fx-border-width: 0 2 0 0;
    -fx-border-style: dotted;
    -fx-border-insets: 8 0 8 0;
    -fx-padding: 0 8 0 8;
}

.jfx-tab-pane .headers-region .tab .tab-container .tab-label {
    -fx-text-fill: #b5b5b5;
    -fx-font-weight: BOLD;
    -fx-padding: 6 10 6 10;
    -fx-font-size: 16;
}

.jfx-tab-pane .headers-region .tab:closable .tab-container .tab-label {
    -fx-padding: 0 8 0 6;
}

.jfx-tab-pane .headers-region .tab:selected .tab-container .tab-label {
    -fx-text-fill: WHITE;
}

/*textfield*/
.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: #6e6e6e;
    -jfx-unfocus-color: #b9b9b9;
    -fx-text-inner-color: #b9b9b9;
}

/*textarea*/
.jfx-text-area {
    -jfx-unfocus-color: #b9b9b9;
    -jfx-focus-color: #0F9D58;
}

/*radiobutton*/
.jfx-radio-button {
    -jfx-selected-color: #0F9D58;
    -jfx-unselected-color: #5A5A5A;
}

.jfx-radio-button .radio-container:hover {
    -fx-cursor: hand;
}

/*treetable column*/
.jfx-tree-table-view {
    -fx-tree-table-color: rgba(82, 100, 174, 0.4);
    -fx-tree-table-rippler-color: rgba(82, 100, 174, 0.6);
    -jfx-header-color: #252326;
}

.tree-table-view .column-header {
    -fx-font-family: "Segoe UI Symbol";
    -fx-font-size: 15;
}

.tree-table-view {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15;
}

.jfx-tree-table-view .column-header .label {
    -fx-text-fill: -jfx-header-color;
    -fx-padding: 10 0 10 0;
}

/*hamburger*/
.jfx-hamburger StackPane{
    /*-fx-pref-width: 50px;*/
    -fx-pref-height: 5px;
    -fx-background-color: #394F5A;
    -fx-background-radius: 10px;
}

.jfx-hamburger-icon {
    -fx-spacing: 7;
}

/*scrollpane*/
.scroll-pane {
    -fx-background-color: #102027;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-pane > .corner {
    -fx-background-color:  #102027;
}

/*shortlist buttons since its manually added*/
#shortListBox .jfx-button {
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
    -fx-text-fill: whitesmoke;
    -fx-pref-width: 220.0;
    -fx-pref-height: 30px;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16;
    -fx-content-display: left;
    -fx-background-image: url("../images/more_than_20px.png");
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 190;
    -fx-text-alignment: left;
 }

/*jfx colorpicker*/
.jfx-color-picker {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-background-radius: 3px;
    -fx-background-insets: 0px;
    -fx-min-height: 30px;
}

/*jfx combobox*/
.jfx-combo-box {
    -fx-font-size: 14;
    -fx-font-family: "Segoe UI";
    -fx-prompt-text-fill: gray;
    -jfx-focus-color: #0f9d58
}

#mainPane .jfx-combo-box {
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
    -fx-prompt-text-fill: WHITE;
}

.jfx-combo-box > .cell {
    -fx-text-fill: gray;
}

#next {
    -fx-background-image: url("../images/more_than_20px.png");
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
}

#NEXT {
    -fx-background-image: url("../images/more_than_25px.png");
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
}

#loadingPane .label {
    -fx-background-image: none;
}

#mainPane .jfx-combo-box {
    -fx-background-color: inherit;
    -fx-text-fill: LIGHTGRAY;
    -fx-font-size: 15px;
    -fx-font-weight: BOLD;
}

#mainPane .combo-box-popup .list-view {
    -fx-color: #606060;
    -fx-background-color: #545454;

    /*-fx-background-insets: 0, 1, 2;*/
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*-fx-padding: 0.333333em 0.333333em 0.666667em 0.083333em;*/
}

#mainPane .combo-box-popup .list-view .list-cell:filled {
    -fx-background-color: TRANSPARENT;
    -fx-text-fill: WHITE;
}

#mainPane .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #385656;
}

#mainPane .combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: darkslategray;
}

#sidePane .jfx-text-field {
    -fx-prompt-text-fill: #b8b8b8;
}

#layoutsTableView .table-column {
    -fx-alignment: CENTER;
}

.jfx-text-field {
    -jfx-focus-color: #0f9d58
}

#FIRST_PANE .jfx-button {
    -fx-text-fill: #b8b8b8;
}

#stampPicker .jfx-combo-box {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
    -fx-text-inner-color: #bcbcbc;
}

#stampPicker .jfx-combo-box .cell {
    -fx-text-fill: #bcbcbc;
}

#WINDOW_TBL .table-column {
    -fx-alignment: CENTER;
}

/*jfx colorpicker*/
.jfx-tree-table-view .column-header .label {
    -fx-text-fill: -jfx-header-color;
    -fx-padding: 9 0 9 0;
}

.jfx-tree-table-view .tree-table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-pref-height: 38px;
    -fx-alignment: center-left;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.jfx-combo-box {
    -fx-text-inner-color: #bcbcbc;
}

.list-cell{
    -fx-font-size: 15.0;
}

#PARTS_VBOX .button:focused {
    -fx-background-color: darkslategray;
}
